<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="<%= FrameworkVersion %>" />
  <package id="Glass.Mapper.Sc.90" version="5.0.6" targetFramework="<%= FrameworkVersion %>" />
  <package id="Glass.Mapper.Sc.90.Core" version="5.0.6" targetFramework="<%= FrameworkVersion %>" />
  <package id="Glass.Mapper.Sc.90.Mvc" version="5.0.6" targetFramework="<%= FrameworkVersion %>" />
  <package id="Glass.Mapper.Sc.90.WebForms" version="5.0.6" targetFramework="<%= FrameworkVersion %>" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="<%= FrameworkVersion %>" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="<%= FrameworkVersion %>" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="<%= FrameworkVersion %>" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="<%= FrameworkVersion %>" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="<%= FrameworkVersion %>" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="<%= FrameworkVersion %>" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="<%= FrameworkVersion %>" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="<%= FrameworkVersion %>" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="<%= FrameworkVersion %>" />
  <package id="Sitecore.Kernel" version="<%=SitecoreVersion%>" targetFramework="<%= FrameworkVersion %>" developmentDependency="true" />
  <package id="Sitecore.Mvc" version="<%=SitecoreVersion%>" targetFramework="<%= FrameworkVersion %>" developmentDependency="true" />
  <package id="System.Collections" version="4.0.11" targetFramework="<%= FrameworkVersion %>" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="<%= FrameworkVersion %>" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="<%= FrameworkVersion %>" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="<%= FrameworkVersion %>" />
  <package id="System.Globalization" version="4.0.11" targetFramework="<%= FrameworkVersion %>" />
  <package id="System.Linq" version="4.1.0" targetFramework="<%= FrameworkVersion %>" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="<%= FrameworkVersion %>" />
  <package id="System.Reflection" version="4.1.0" targetFramework="<%= FrameworkVersion %>" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="<%= FrameworkVersion %>" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="<%= FrameworkVersion %>" />
  <package id="System.Threading" version="4.0.11" targetFramework="<%= FrameworkVersion %>" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="<%= FrameworkVersion %>" />
</packages>