<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.<%=featureName%>" dependencies="Foundation.Serialization" extends="Helix.Feature">
                    <!-- Extend Feature Base -->
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>