<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="<%=Parameters.GeneratorModuleType%>.<%=Parameters.ModuleName%>" dependencies="Foundation.Serialization" extends="Helix.Project">
                    <!-- Extend Feature Base -->
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>